---
- name: Check if flyway is installed and is not outdated
  stat: path={{flyway_binary}}  # implicitly check version, because flyway_binary contains version
  register: flyway_status

- name: Create directory for flyway
  file: path={{flyway_root}} state=directory

- name: Download flyway
  get_url: 
    url: "{{flyway_real_url}}" 
    dest: "{{flyway_root}}"
    validate_certs: "{{flyway_download_validate_certs | default(omit)}}"
  when: flyway_status.stat.mode|default(0) != "0755"

- name: Unpack flyway
  unarchive: copy=no src={{flyway_root}}/flyway-commandline-{{flyway_version}}.tar.gz dest={{flyway_root}} creates={{flyway_binary}}
  when: flyway_status.stat.mode|default(0) != "0755"

- name: Remove downloaded copy
  file: path={{flyway_root}}/flyway-commandline-{{flyway_version}}.tar.gz state=absent

- name: Create synmink in /usr/bin
  file: src={{flyway_binary}} dest={{flyway_symlink_location}}/flyway state=link

- name: Fix permissions to binary
  file: path={{flyway_binary}} mode=755 state=file

- name: Configure flyway.properties
  template: src=flyway.conf.j2 dest={{flyway_root}}/flyway-{{flyway_version}}/conf/flyway.conf

